@use "sass:math";
@import "~@mypreview/unicorn-style-utils/src/mixins/hidden";
@import "~@mypreview/unicorn-style-utils/src/mixins/flexbox";
@import "~@mypreview/unicorn-style-utils/src/base/breakpoints";

.wp-block-mypreview-flash-form {

	.form-field {
		$i: 25;

		&.has-custom-width {

			.button {
				width: 100%;
			}

			@while $i <= 100 {
				&--#{$i} {

					@if ($i == 100) {
						width: math.percentage(math.div($i, 100));
					} @else {
						width:
							calc(#{$i}% - #{calc(var(--gap) * #{math.div((math.div(100, $i) - 1), math.div(100, $i))})
						});
					}
				}

				$i: $i + 25;
			}
		}

		>[class$="__label"] {

			@include box(middle);
			margin-bottom: 5px;

			label {
				display: inline-block;
				margin-right: 5px;
			}

			.required {
				cursor: help;
				color: var(--required);
				text-decoration: none;
			}
		}

		>[class$="__input"] {
			display: block;

			select {
				max-width: none;
			}
			$types:text, date, email, number, tel, textarea, time, url;

			@each $type in $types {
				[type="#{$type}"] {
					width: 100%;
				}
			}
		}

		&--checkbox {

			@include box(left);

			>[class$="__label"] {
				margin: {
					bottom: 0;
					left: 10px;
				}
			}

			>[class$="__input"] {
				order: -1;
			}
		}

		@include mobile {
			flex-basis: 100%;
		}
	}

	.visually-hidden {

		@include hidden(visually);
	}
}
