@import "~@mypreview/unicorn-style-utils/src/mixins/flexbox";
@import "~freezeui/freeze-ui";
@import "./fields/style";

.wp-block-mypreview-flash-form {
	--gap: 20px;
	--required: #ff3737;

	&__fieldset {

		@include box(wrap, space-between);
		gap: var(--gap);

		&#{&}>* {
			width: 100%;
			margin: 0;
		}
	}
}
