@import "~@mypreview/unicorn-style-utils/src/mixins/flexbox";
@import "./fields/style";
@import "./freezeui";

.wp-block-mypreview-flash-form {
	--gap: 20px;
	--required: #ff3737;

	&__fieldset {

		@include box(wrap, space-between);
		gap: var(--gap);

		> * {
			width: 100%;
			margin: 0;
		}

		.g-recaptcha {
			margin-bottom: var(--gap);
		}
	}
}
